<!-- <p>header works!</p> -->

<!-- <img src="assets/images/search.svg" alt="search"> -->
<header class="header">
  <div class="navBar">
    <div><img src="assets/images/qaLogo.svg" alt="Qarma" /></div>
    <div class="navItem">
      <div><img src="assets/images/dashboard.svg" alt="Dashboard" /></div>
      <div>Dashboard</div>
    </div>
    <div class="navItem">
      <div><img src="assets/images/projects.svg" alt="Dashboard" /></div>
      <div>Projects</div>
    </div>
    <div class="navItem">
      <div><img src="assets/images/schedules.svg" alt="Dashboard" /></div>
      <div>Schedules</div>
    </div>
    <div class="navItem">
      <div><img src="assets/images/settings.svg" alt="Dashboard" /></div>
      <div>Settings</div>
    </div>
    <div class="navItem">
      <div><img src="assets/images/knowledge hub.svg" alt="Dashboard" /></div>
      <div>Knowledge hub</div>
    </div>
  </div>
  <div class="menuBar">
    <div><img src="assets/images/search.svg" alt="search" /></div>
    <div><img src="assets/images/notification.svg" alt="profile" /></div>
    <div><img src="assets/images/profile.svg" alt="profile" /></div>
    <div><img src="assets/images/menuBar.svg" alt="profile" /></div>
    
  </div>
</header>
